@model Usuarios.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Model.Apellido
        </dd>
        <dt class="col-sm-2">
            DNI
        </dt>
        <dd class="col-sm-10">
            @Model.DNI
        </dd>
        <dt class="col-sm-2">
            Cargo
        </dt>
        <dd class="col-sm-10">
            @Model.Cargo
        </dd>
        <dt class="col-sm-2">
            Número de Celular
        </dt>
        <dd class="col-sm-10">
            @Model.NumeroCelular
        </dd>
        <dt class="col-sm-2">
            Fecha de Nacimiento
        </dt>
        <dd class="col-sm-10">
            @Model.FechaNacimiento
        </dd>
        <dt class="col-sm-2">
            Domicilio
        </dt>
        <dd class="col-sm-10">
            @Model.Domicilio
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmpleado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
