@model IEnumerable<Usuarios.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DNI
            </th>
            <th>
                Cargo
            </th>
            <th>
                Número de Celular
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Domicilio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var empleado in empleados) {
        <tr>
            <td>
                @empleado.Nombre
            </td>
            <td>
                @empleado.Apellido
            </td>
            <td>
                @empleado.DNI
            </td>
            <td>
                @empleado.Cargo
            </td>
            <td>
                @empleado.NumeroCelular
            </td>
            <td>
                @empleado.FechaNacimiento
            </td>
            <td>
                @empleado.Domicilio
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@empleado.IdEmpleado">Editar</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@empleado.IdEmpleado">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@empleado.IdEmpleado">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
